# General
scratch/
data/

tmp*/

# Java
.gradle
build
.idea/
.project
.settings/
.classpath
nbactions.xml
nb-configuration.xml
nbproject/
bin/
.vscode/

# Python
.venv/
venv/
__pycache__/
.ipynb_checkpoints/
*.pyc
.env
*.png
